In [1]:
import pandas as pd
import numpy as np

In [2]:
# peek csv
df = pd.read_csv('data/output_file.csv')
df.head()

,date,volume,open,high,low,close,adjclose,ticker
0,2018-06-15,3696200,59.630001,60.080002,59.369999,60.009998,60.009998,TMUS
1,2018-07-26,23518700,43.580002,43.830002,43.220001,43.529999,41.350727,CSCO
2,2018-04-13,2828300,108.849998,109.459999,108.519997,109.260002,101.975182,PEP
3,2018-03-14,21141100,45.340000,45.759998,45.090000,45.279999,42.340096,CSCO
4,2019-05-21,2506000,277.089996,279.779999,274.649994,275.329987,275.329987,AVGO

In [3]:
df['date'] = pd.to_datetime(df['date'])
df = df.astype({'ticker': 'string'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5030 entries, 0 to 5029
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      5030 non-null   datetime64[ns]
 1   volume    5030 non-null   int64
 2   open      5030 non-null   float64
 3   high      5030 non-null   float64
 4   low       5030 non-null   float64
 5   close     5030 non-null   float64
 6   adjclose  5030 non-null   float64
 7   ticker    5030 non-null   string
dtypes: datetime64[ns](1), float64(5), int64(1), string(1)
memory usage: 314.5 KB

In [4]:
df.describe()

,date,volume,open,high,low,close,adjclose
count,5030,5.030000e+03,5030.000000,5030.000000,5030.000000,5030.000000,5030.000000
mean,2018-12-31 18:45:05.367793408,1.922675e+07,317.323750,320.845511,313.372413,317.270793,315.987232
min,2018-01-02 00:00:00,4.701000e+05,9.080000,9.770000,9.040000,9.530000,9.530000
25%,2018-07-02 00:00:00,4.088975e+06,68.797499,69.420002,68.080002,68.774998,68.774998
50%,2019-01-02 00:00:00,8.508150e+06,153.040001,155.014999,151.415001,153.555000,151.020363
75%,2019-07-03 00:00:00,2.426970e+07,292.687500,297.452492,288.190010,291.955002,291.955002
max,2019-12-31 00:00:00,3.250584e+08,2038.109985,2050.500000,2013.000000,2039.510010,2039.510010
std,NaN,2.571300e+07,480.948808,485.342205,475.482149,480.632483,481.144556

In [5]:
# check for missing values
print(np.any(df.isna()))

False

In [6]:
set(df['ticker'])

{'AAPL', 'AMD', 'AMZN', 'AVGO', 'CSCO', 'MSFT', 'NFLX', 'PEP', 'TMUS', 'TSLA'}

In [7]:
df.sort_values("date").head()

,date,volume,open,high,low,close,adjclose,ticker
230,2018-01-02,4352200,312.000000,322.109985,311.000000,320.529999,320.529999,TSLA
2263,2018-01-02,10966900,196.100006,201.649994,195.419998,201.070007,201.070007,NFLX
4190,2018-01-02,3313500,259.769989,267.500000,257.570007,267.010010,267.010010,AVGO
4963,2018-01-02,22483800,86.129997,86.309998,85.500000,85.949997,82.798996,MSFT
4349,2018-01-02,4165800,119.930000,120.180000,117.930000,118.059998,109.380081,PEP

In [8]:
df.sort_values("date").tail()

,date,volume,open,high,low,close,adjclose,ticker
3923,2019-12-31,1248700,313.119995,316.359985,312.799988,316.019989,316.019989,AVGO
4849,2019-12-31,14892600,47.540001,47.980000,47.410000,47.959999,47.162842,CSCO
2062,2019-12-31,3713300,322.000000,324.920013,321.089996,323.570007,323.570007,NFLX
4157,2019-12-31,10285700,405.000000,421.290009,402.079987,418.329987,418.329987,TSLA
3988,2019-12-31,2506500,1842.000000,1853.260010,1832.229980,1847.839966,1847.839966,AMZN

In [10]:
from dateutil.relativedelta import relativedelta

start = df['date'].min()
end = df['date'].max()

delta = relativedelta(end, start)
print(f'{delta.years * 12 + delta.months} months and {delta.days} days')

# monthly aggregation, so we would fall short 1 day in jan'18 but it doesn't matter
# 1st jan may be a holiday -- new year's nyse is closed

23 months and 29 days

In [11]:
len(df[df['date']=='2019-01-01'])
# so exchange holidays are taken into consideration

0